.app-container {
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-template-rows: 200px 1fr;
	height: 100vh;
	overflow: hidden;
}

.border-bottom-info {
	border-bottom: 1px solid var(--bs-cyan);
}
